
<div id="articles">
  <ol>   
    <% 
      articles = []
      featured_articles = []
      standard_articles = []
       blog.articles.each do |article|
        next unless article.data.layout == 'article'
        if article.data.send(:featured)
          featured_articles << article
        else
          standard_articles << article
        end
      end
      articles.concat featured_articles
      articles.concat standard_articles
    %>
    <% 
    #articles = articles.sort_by {|obj| 
    #  obj.data["featured"] = false unless obj.data.has_key?(:featured); # ? true : false 
    #  return obj.data["featured"]
    #} 
    %>
    <% articles.each_slice(1) do |slice| %>
      <div class="row">
        <% slice.each do |article| %>
          <div class="col-sm-8 columns">
            <%= link_to(image_tag(article.data.image), article) if article.data.image && article.data.featured %>
            <!--
            obj.data.send(:featured) ? true : false
            obj.data.featured
            raise
            -->
            <!-- <div class="container"> -->
              <h3 class="title"><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e %Y') %></span></h3>
              <!--<time><%= article.date.strftime('%b %e') %></time>-->
              <p><%= article.summary(200) %></p>
              <div class="category"><%= article.data.tags.split(", ")[0] %></div>
              <!--
              <div class="tags"><%= tag_links(article) %></div>
              <%= link_to "Read more", article, { class: 'more-link' } %>
              -->
            <!-- </div> -->
          </div>
          <div class="col-sm-4 columns sidebar">
	    <div class="author-info">
	      <% author = find_author(article.data.author) %>
	      <img alt = <%= author.name %>
		   src='<%= get_gravatar author.email, 64 %>' class='headshot' >
	      <dl>
		<dt>Author:</dt>
		<dd><%= author.name %></dd>
	      </dl>
	    </div>
	    <!-- <dl> -->
	    <!--   <dt>Published on:</dt> -->
	    <!--   <time class="updated" datetime="<%= article.date.strftime('%b %e %Y') %>"><%= article.date.strftime('%b %e %Y') %></time> -->
	    <!-- </dl> -->
	  </div>
        <% end %>
      </div>
    <% end %>
  </ol>
</div>
